<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI</title>
</head>
<body>
    <h1>BMI</h1>
    <form action="" method="post">
        {%csrf_token%}
        <div>
            <label for="">weight</label>
            <input type="text" placeholder="enter weight in kg" name="weight_in_kg">
        </div>
        <div>
            <label for="">height</label>
            <input type="text" placeholder="enter height in cm" name="height_in_cm">
        </div>
        <button type="submit">BMI</button>
    </form>
            {{out}}
</body>
</html> 