<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Factorial View</h1>
    <div class="container">
        <form action="" method="post">
            {%csrf_token%}

            <label for="">number</label>
            <input type="text" placeholder="enter number for factorial" name="num">

            <button type="submit">factorial</button>
        </form>
        {{out}}
    </div>

</body>
</html>