<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <div class="container">
        <a href="{%url 'addition'%}">Addition</a>
        <a href="{%url 'subtraction'%}">subtraction</a>
        <a href="{%url 'multiplication'%}">multiplication</a>
        <a href="{%url 'division'%}">division</a>
        <a href="{%url 'cube'%}">cube</a>
        <a href="{%url 'factorial'%}">factorial</a>
        <a href="{%url 'leapyear'%}">leapyear</a>
        <a href="{%url 'oddeven'%}">oddeven</a>
        <a href="{%url 'prime'%}">prime</a>
        <a href="{%url 'bmi'%}">BMI</a>
        <a href="{%url 'emi'%}">EMI</a>
        
    </div>
</body>
</html>