<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>odd or even</h1>
    <div class="container">
        <form action="" method="post">
            {%csrf_token%}
            <label for="">number</label>
            <input type="text" placeholder="enter number" name="num">
            
            <button type="submit">check</button>
        </form>
        {{out}}
    </div>
</body>
</html>